﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage_Test.master" AutoEventWireup="true" CodeFile="Privacy_Policy.aspx.cs" Inherits="Privacy_Policy" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

       <section>
		<div class="rows inner_banner inner_privacy">
			<div class="container">
				<h2><span>Privacy Policy -</span>Travelvilla</h2>
			   
			</div>
		</div>
	</section>

    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">TERMS &amp; CONDITION</h2>
                        <p class="aboutus-text">
                            Welcome to https://www.b2brichatravels.in
                        </p>
                        <p class="aboutus-text">
                            These terms and conditions outline the rules and regulations for the use of Richa World &amp; Travels Website, located at www.b2brichatravels.in
                        </p>
                        <p class="aboutus-text">
                            By accessing this website, we assume you accept these terms and conditions. Do not continue to use www.b2brichatravels.in if you do not agree to take all of the terms and conditions stated on this page.
                        </p>
                        <p class="aboutus-text">
                            The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant to the Company's terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of provision of the Company's stated services, in accordance with and subject to, prevailing law of India. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
                        </p>
                    

                        <h2 class="aboutus-title" style="font-size: 18px !important;">Cookies</h2>
                        <p class="aboutus-text">We employ the use of cookies. By accessing&nbsp;www.b2brichatravels.in, you
agreed to use cookies in agreement with the&nbsp;Richa World &amp; Travels Privacy Policy.</p>
                        <p class="aboutus-text">Most interactive websites use cookies to let us retrieve the user's details for each visit.
Cookies are used by our website to enable the functionality of certain areas to make it
easier for people visiting our website. Some of our affiliate/advertising partners may
also use cookies.</p>

 <h2 class="aboutus-title" style="font-size: 18px !important;">License</h2>
<p class="aboutus-text">Unless otherwise stated,&nbsp;Richa World &amp; Travels&nbsp;and/or its licensors own the
intellectual property rights for all material on&nbsp;Www.b2brichatravels.in. All
intellectual property rights are reserved. You may access this
from&nbsp;Www.b2brichatravels.in&nbsp;for your own personal use subjected to restrictions
set in these terms and conditions.</p>
<p class="aboutus-text">You must not: <br>
•	Republish material from Www.b2brichatravels.in<br>
•	sub-license material from Www.b2brichatravels.in<br>
•	Reproduce, duplicate or copy material from Www.b2brichatravels.in<br>
•	Redistribute content from Www.b2brichatravels.in

</p>

                         <h2 class="aboutus-title" style="font-size: 18px !important;">Contacting Us</h2>
<p class="aboutus-text">If there are any questions regarding this privacy policy you may contact us using the information below:</p>
<p class="aboutus-text">Company Name: Richa World &amp; Travels<br>
Address: 301, Hare Krishna Complex, Behind City Gold Theater, Ashram Road, Ahmedabad - 380009<br>
Telephone No.: 7949109999<br>
E-Mail ID: info@richaworldtravels.com<br>
Office hours: Monday to Saturday, from 10:00 to 20:00 (IST). 
</p>


                        <h2 class="aboutus-title">RAILWAY</h2>
                       
                        Policy of IRCTC will be applied for Railway Booking &amp; Tourism Services.
                        <p style="font-weight:bold">
                           Do’s for the Service providers
                        </p>

                        <p style="font-weight:bold">
                            Mandates for Booking/ Cancellation of Tickets
                        </p>

                        <p>Tickets should be booked only when the customer approaches.</p>
                        <p>The RSP must ensure that the transaction (Booking or cancellation) is done with the complete knowledge and acceptance of the customer.</p>
                        <p>It is mandatory for all RSPs to maintain the written/ electronic requests and a copy of the ID proof
from the customers for both booking &amp; cancellation of the tickets.
</p>
                        <p>It will be obligatory on the part of the PSP to control the activities of their RSP. The PSP will be
equally liable for all civil and criminal liabilities of their RSP.
</p>
                        <p>PSPs with or without web services should keep a close watch on the conduct of their RSPs &amp; in case of receipt of complaint against any RSP by the customers then the agent ID should be deactivated at the operators end immediately, under intimation to IRCTC.</p>
                        <p>PSP must make changes in front end software on the portal for a provision to store mobile number of any one of the desiring passenger(s) traveling on e-ticket and strictly ensure that while filling of requisition slip for booking e-ticket, RSPs obtain and feed the mobile number of passenger for sending SMS alerts in all cases wherever the mobile number is available.</p>
                        <p>Compliance has to be ensured from the PSPs in this regard and watch should be kept for any fake number/ repeat number/ dysfunctional number being feed when booking/ cancellation is done by RSP.</p>
                        <p>PSPs should educate their RSPs regarding rules and regulation of IRCTC or about ticket booking
software (in case of web services agents) etc.
</p>
                        <p>PSP should ensure complete sharing of information &amp; full cooperation with IRCTC.</p>
                        <p style="font-weight:bold">Dont’s for the Service providers</p>
                        <p>No advertisement in any form whether in print or press media is to be issued without prior permission from IRCTC in writing.</p>
                        <p>Collection of extra charges in any form whether for cancellation of the ticket or checking the availability status from the customers forbidden.</p>
                        <p>Booking of I- tickets or counter tickets is prohibited &amp; punishable with minimum punishment of
immediate deactivation of the user id.
</p>
                        <p>Sharing of access credentials to web services is strictly prohibited. Transfer of agent ID given to RSPs by IRCTC or PSPs is Prohibited and IRCTC will initiate action against the agent group if found guilty in such matters. Punitive action will be initiated as mentioned in the Annexure ‘A’.</p>
                        <p>RSPs should not book tickets using any other wrong ID except only through IRCTC provided agent ids. RSPs if found to be using wrong id, then their ids will be deactivated immediately as well as legal action will be taken against them. Punitive action will be initiated as mentioned in the Annexure.</p>
                        <p>Transfer &amp; re-sale of Tickets is punishable under Indian Railway Rules under Sec.142.</p>
                        <p>RSPs are prohibited to print Reservation Application Forms with IRCTC Logo on top.</p>
                        <p>Popularizing the organizations name as authorized Railway Agents is strictly prohibited. The RSPs are “IRCTC authorized E- Ticketing agents”.</p>
                        <p>IRCTC’s logo should not be used in Visiting Cards, Letterheads, and Pamphlets or in any other forms unless approved by IRCTC.</p>
                        <p>Session management by the PSP should be taken care of.</p>
                        <p>Use of back or refresh option while booking tickets and Login page should not be kept idle for a long time (applicable for internet café scheme on www.irctc.co.in.)</p>
                        <p>Book of benami e- tickets is strictly prohibited (anybody doing so will be prosecuted).</p>
                        <p>PSP is having full discretion, to extend credit facility to RSP for e-ticketing for a period of maximum three days as mutually agreed in between.</p>
                        <p>PSP can cancel all PNR’s booked by RSP to realize the PSP’s own money, if RSP fails to pay the amount within stipulated period.</p>
                        <p>Blocking of accommodation by giving fictitious names in any train is strictly prohibited As per the Indian Railways Act-1989 blocking of accommodation is a criminal offence and is punishable (annexure ‘A’).</p>
                        <p>Modification/Alteration/Tampering the Electronic Reservation Slip (ERS) is strictly prohibited. Any
such act will be considered as a criminal activity and is punishable u/s 420 of the Indian Penal code, if brought to the notice of IRCTC.
</p>
                        <p>Software tampering is strictly prohibited. Any activity restricted by IRCTC like unauthorized branding, Tatkal Robot Facility, saving booking form either at server or at client machine or allowing Tatkal form to be opened before stipulated Tatkal time or during the banned time period (10.00 AM to 10.15AM &amp; 11:00AM to 11:15AM),use of technology for gaining unfair advantage in Ticket booking Technical problems (making changes without proper testing etc) etc.,. Punitive action will be initiated as mentioned in the
Annexure ‘A’. of IRCTC.co.in.
</p>
                        <p>Cancellation of the tickets without the knowledge and request of the customer is prohibited.</p>
                        <p>Changing the profile by entering new details even if update profile link is available (Rare cases) in the left panel in IRCTC website after logging in is strictly forbidden. If updated, will be reverted as individual user losing the functionality of agent booking.</p>
                        <br>
                        <p style="color:red;"> Do not lose the Digital Certificate as the agent will not be able to login without the certificate.</p>
                        <br>
                        <p style="font-weight:bolder;">NOTE: All fraudulent activities like Overcharging, booking tickets thru personal
user id’s, creating multiple user id’s will be dealt strictly. The minimum
punishment will be deactivation and also further legal action will be initiated
against the RSPs (Punitive action will be initiated as mentioned in the Annexure
‘A’) of IRCTC.co.in.
</p>

                    </div>
                </div>
              

            </div>
        </div>
    </div>


</asp:Content>

